#profile-bg {
    position: fixed;
    left: -20%;
    top: -300px;
    width: 150%;
    height: 400px;
    background: url('https://scontent-fra3-1.xx.fbcdn.net/hprofile-xpa1/v/t1.0-1/p160x160/1486846_10151912161843165_1917079991_n.jpg?oh=6119ca4492f93ea5bdd48b7909fc55e7&oe=56BB05DF') no-repeat transparent;
    background-size: 100%;
    background-position: 50% 20%;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    text-align: center;
}

#content {
    position: relative;
    margin-top: 150px;
    background-color: white;
    box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
    padding-top: 200px;
}

#profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
}
#profile-name {
    color: #444;
    font-size: 26px;
}
#profile-description {
    font-size: 15px;
    color: #888;
}
#profile-description a {
    color: #888;
}

#profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
#score-profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    margin: 0px auto;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
